$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Raleway', sans-serif;
$third-font: 'Montserrat', sans-serif;

$primary-color: #6a727f;
$secondary-color: #393e46;
$third-color: #a0a8b5;
$logo-color: #222831;
$contact-txt-color: #fff;

$wrapper-bg-color: #fff;
$team-bg-color: #f8f8f9;
$footer-bg-color: #282f3a;
$footer-bottom-bg-color: #252b36;

$btn-bg-color: #4a44f2;
$btn-color: #fff;

$input-border-color: #b66a68;