* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #6a727f;
  line-height: 1;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  height: 55px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  background-color: #4a44f2;
  border: 0;
  border-radius: 4px;
  outline: none;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.btn--contact {
  height: 64px;
  background-image: linear-gradient(to right, #f475a1, #ffac3c);
}

.caption {
  font-family: "Raleway", sans-serif;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 64px;
  color: #393e46;
  margin-bottom: 40px;
}
.caption--small {
  font-size: 2.2rem;
  line-height: 39.5px;
  margin-bottom: 20px;
}

.text {
  line-height: 35px;
}

.small-text {
  font-size: 1.4rem;
  line-height: 18.4px;
}

@media only screen and (max-width: 1023px) {
  .caption {
    font-size: 3.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .text {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .caption {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.6rem;
  }
  .btn {
    padding: 0 50px;
    margin: 0 auto;
  }
  .btn--contact {
    height: 50px;
  }
}
.header {
  padding: 40px 0;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2.2rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #222831;
  text-transform: capitalize;
}
.header-tool {
  display: flex;
  align-items: center;
  gap: 75px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #393e46;
}
.header-tool__phone span {
  font-weight: 600;
  margin-left: 10px;
}
.header-tool__menu:hover, .header-tool__search:hover {
  cursor: pointer;
}
.header-menu {
  position: absolute;
  right: -10px;
  top: calc(100% + 5px);
  width: 30%;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
  z-index: 2;
  background-color: #393e46;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s linear;
}
.header-menu__item a {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.header-menu__item:first-child {
  margin-top: 50px;
}
.header-menu__item:hover a {
  color: #6a727f;
}
.header-menu.active {
  opacity: 0.7;
  transform: translateX(0);
}
.header__search {
  position: absolute;
  top: 90%;
  right: 3%;
  z-index: 2;
  padding: 5px 10px;
  width: 30%;
  border: 2px solid rgba(106, 114, 127, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.1s linear;
}
.header__search.active {
  opacity: 1;
  top: 100%;
}
.header__search input {
  flex-grow: 1;
  outline: none;
  border: none;
}
.header__search input::placeholder {
  color: #6a727f;
  font-style: italic;
}
.header__search img {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 1023px) {
  .header-tool {
    gap: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding: 20px 0 50px;
  }
  .header-tool__phone {
    display: none;
  }
  .header-menu {
    width: 97vw;
  }
  .header__search {
    width: 100%;
    right: 0;
  }
  .header__search.active {
    top: calc(100% + 10px);
  }
}
.hero {
  height: 965px;
  position: relative;
  margin-bottom: 190px;
}
.hero-content {
  position: absolute;
  bottom: 60%;
  transform: translateY(50%);
  z-index: 1;
  color: #393e46;
  font-family: "Raleway", sans-serif;
}
.hero-content__caption {
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 110px;
}
.hero-content__heading {
  font-size: 15rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.hero-content__link {
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: underline;
  color: #6a727f;
}
.hero-image {
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 1599px) {
  .hero {
    height: 580px;
  }
  .hero-content {
    bottom: 50%;
  }
  .hero-content__caption {
    font-size: 6.2rem;
    line-height: unset;
    margin-bottom: 20px;
  }
  .hero-content__heading {
    font-size: 12rem;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1023px) {
  .hero {
    height: 450px;
    margin-bottom: 100px;
  }
  .hero-content__caption {
    font-size: 4.2rem;
  }
  .hero-content__heading {
    font-size: 10rem;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .hero {
    margin-bottom: 50px;
    height: 210px;
  }
  .hero-content__caption {
    font-size: 2.2rem;
  }
  .hero-content__heading {
    font-size: 5rem;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 374px) {
  .hero {
    height: 165px;
  }
  .hero-content__caption {
    font-size: 2.2rem;
    margin-bottom: 10px;
  }
  .hero-content__heading {
    font-size: 5rem;
    margin-bottom: 10px;
  }
}
.portfolio {
  margin-bottom: 300px;
  position: relative;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 90px;
  margin-bottom: 100px;
}
.portfolio-container-scroll {
  display: none;
}
.portfolio-item {
  margin-bottom: 90px;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.portfolio-item__img {
  margin-bottom: 40px;
  border-radius: 4px;
}
.portfolio-item__caption {
  margin-bottom: 30px;
}
.portfolio-item__category {
  font-size: 1.4rem;
  line-height: 31px;
}
.portfolio-btn {
  margin: 0 auto;
}

@media only screen and (max-width: 1599px) {
  .portfolio {
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 1023px) {
  .portfolio {
    margin-bottom: 150px;
  }
  .portfolio-container {
    margin-bottom: 80px;
    column-gap: 50px;
  }
  .portfolio-item img {
    margin-bottom: 30px;
  }
  .portfolio-item__caption {
    font-size: 2.8rem;
  }
}
@media only screen and (max-width: 767px) {
  .portfolio {
    margin-bottom: 130px;
  }
  .portfolio-container {
    display: none;
  }
  .portfolio-container-scroll {
    display: flex;
    gap: 0 20px;
    overflow-x: auto;
  }
  .portfolio-item {
    height: 370px;
    min-width: 70%;
    padding: 10px;
    margin-bottom: 0;
    border: 2px solid rgba(106, 114, 127, 0.2);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .portfolio-item img {
    width: 100%;
    max-height: 50%;
  }
  .portfolio-item__caption {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .portfolio-btn {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 374px) {
  .portfolio-item {
    height: 350px;
    min-width: 80%;
  }
}
.partner {
  margin-bottom: 150px;
}
.partner-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 95px 115px;
}
.partner-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.partner-list__item:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .partner {
    margin-bottom: 100px;
  }
  .partner-list {
    grid-template-columns: 1fr 1fr;
    gap: 80px 50px;
  }
}
@media only screen and (max-width: 767px) {
  .partner {
    margin-bottom: 50px;
  }
  .partner-list {
    row-gap: 50px;
  }
}
.team {
  padding: 150px 0;
  margin-bottom: 150px;
  background-color: #f8f8f9;
}
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 130px;
}
.team-content {
  max-width: 370px;
}
.team-content__desc {
  margin-bottom: 70px;
}
.team-img {
  display: grid;
  grid-template-columns: 370px 270px;
  gap: 0 30px;
}
.team-img__col:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px 0;
}
.team-img__col:last-child {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1599px) {
  .team {
    padding: 120px 0;
    margin-bottom: 120px;
  }
  .team-container {
    gap: 0 50px;
  }
}
@media only screen and (max-width: 1023px) {
  .team {
    padding: 80px 0;
    margin-bottom: 100px;
  }
  .team-container {
    flex-direction: column;
    row-gap: 60px;
  }
  .team-content {
    max-width: 80%;
    text-align: center;
  }
  .team-content button {
    margin: 0 auto;
  }
  .team-content__desc {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .team {
    margin-bottom: 70px;
  }
  .team-container {
    row-gap: 40px;
  }
  .team-content {
    text-align: center;
  }
  .team-content button {
    margin: 0 auto;
  }
  .team-content__desc {
    margin-bottom: 30px;
  }
  .team-img {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
  .team-img__col:first-child {
    gap: 15px 0;
  }
}
.blog {
  margin-bottom: 150px;
}
.blog-header {
  max-width: 570px;
  text-align: center;
  margin: 0 auto 90px;
}
.blog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.blog-item img {
  margin-bottom: 30px;
}
.blog-item h3 {
  max-width: 300px;
}

@media only screen and (max-width: 1023px) {
  .blog {
    margin-bottom: 120px;
  }
  .blog-header {
    margin-bottom: 70px;
  }
  .blog-item h3 {
    font-size: 2.6rem;
  }
}
@media only screen and (max-width: 767px) {
  .blog {
    margin-bottom: 80px;
  }
  .blog-header {
    margin-bottom: 50px;
  }
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .blog-item img {
    margin-bottom: 20px;
  }
  .blog-item h3 {
    font-size: 1.8rem;
  }
}
.contact {
  padding: 140px 0;
  background: url(../images/contact-bg.jpg) no-repeat center/100% 100%;
}
.contact-container {
  max-width: 570px;
  text-align: center;
  margin: 0 auto;
}
.contact-header {
  margin-bottom: 90px;
}
.contact-header__caption {
  color: #fff;
}
.contact-header__caption span {
  font-weight: 400;
}
.contact-header__desc {
  color: #fff;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.contact-form__input, .contact-form__area {
  height: 56px;
  width: 100%;
  padding-left: 30px;
  background-color: transparent;
  border: 2px solid #b66a68;
  border-radius: 4px;
  outline: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.contact-form__input::placeholder, .contact-form__area::placeholder {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.contact-form__area {
  height: 100px;
  padding-top: 20px;
}

@media only screen and (max-width: 1023px) {
  .contact {
    padding: 100px 0;
  }
  .contact-header {
    margin-bottom: 70px;
  }
}
@media only screen and (max-width: 767px) {
  .contact {
    padding: 50px 0;
  }
  .contact-header {
    margin-bottom: 40px;
  }
  .contact-form {
    max-width: 90%;
    margin: 0 auto;
    gap: 20px;
  }
}
.footer {
  background-color: #282f3a;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fefefe;
  margin-bottom: 35px;
}
.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 130px;
  padding: 140px 0 150px;
}
.footer-top-content:first-child {
  max-width: 370px;
}
.footer-top-content:nth-child(2) {
  min-width: 170px;
}
.footer-top-content:last-child {
  flex-shrink: 1;
}
.footer-top-content__logo {
  margin-bottom: 55px;
}
.footer-top-content__desc {
  font-size: 1.6rem;
  line-height: 31px;
  margin-bottom: 40px;
}
.footer-top-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.footer-top-social {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer-top-social__icon {
  color: #fff;
}
.footer-top-social__icon:hover {
  opacity: 0.5;
}
.footer-top-list {
  list-style: none;
  line-height: 31px;
}
.footer-top-list__item {
  margin-bottom: 25px;
}
.footer-top-list__item a {
  color: #a0a8b5;
  font-size: 1.6rem;
  text-transform: capitalize;
}
.footer-top-list__item a span {
  text-transform: none;
}
.footer-top-contact {
  font-size: 1.6rem;
}
.footer-top-contact ul {
  margin-bottom: 35px;
  line-height: 31px;
}
.footer-top-contact ul li:first-child {
  margin-bottom: 5px;
}
.footer-top-contact ul li span {
  color: #fff;
}
.footer-top-contact p {
  line-height: 31px;
}
.footer-bottom {
  background-color: #252b36;
  font-size: 1.6rem;
  line-height: 39.5px;
}
.footer-bottom-container {
  padding: 60px 0;
  position: relative;
}
.footer-bottom span {
  color: #fff;
}
.footer-bottom__rocket {
  width: 65px;
  height: 65px;
  background-color: #4a44f2;
  border-radius: 5px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1023px) {
  .footer-top {
    flex-wrap: wrap;
    gap: 50px;
    padding: 100px 0;
  }
  .footer-top:not(:last-child) {
    justify-content: space-evenly;
  }
  .footer-top-content:first-child {
    max-width: 400px;
  }
  .footer-bottom-container {
    padding: 40px 0;
  }
}
@media only screen and (max-width: 767px) {
  .footer-top {
    padding: 50px 0;
    gap: 30px;
  }
  .footer-top-content {
    font-size: 1.4rem;
  }
  .footer-top-content a, .footer-top-content__desc {
    font-size: inherit;
  }
  .footer-top-list__item {
    margin-bottom: 15px;
  }
  .footer-bottom {
    line-height: 2;
    font-size: 1.4rem;
  }
  .footer-bottom__rocket {
    width: 50px;
    height: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
